<a href="https://colab.research.google.com/github/MercyMoraa/dsc-css-code-along/blob/master/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load sql extension into our environment
%load_ext sql

In [ ]:
#connect sql to memory in sqlite database
%sql sqlite://

'Connected: @None'

In [ ]:
import pandas as pd

In [ ]:
#loading the population by state data
state_population = pd.read_csv("http://bit.ly/population_by_state" ,index_col = 0)
#loading the population by grand electors
grand_electors = pd.read_csv("http://bit.ly/GrandElectors_by_State", index_col = 0)

In [ ]:
#saving population state
%sql DROP TABLE IF EXISTS state_population;
%sql PERSIST state_population;

%sql SELECT * FROM state_population LIMIT 7;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995),
 ('PENNSYLVANIA', 12802503),
 ('OHIO', 11613423)]

In [ ]:
#saving grand electors state
%sql DROP TABLE IF EXISTS grand_electors;
%sql PERSIST grand_electors;

%sql SELECT * FROM grand_electors LIMIT 7;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55),
 ('Colorado', 9),
 ('Connecticut', 7)]